

/*菜单样式*/
.admin-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  transition: all 0.5s;
  overflow-x: hidden;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background: rgba(0,0,0,0.4);
  &.half-width {
    width: 64px;
  }
}
.menu-wrap {
  border: 0!important;
  margin-top: 20px;
  position: relative;
  z-index: 1;
  flex: 1;
  overflow-y: auto;
  @include scrolBarStyle;
  .el-menu-item.is-active {
    color: #ffffff;
    @include halfBlack;
  }
  .el-submenu__title:hover, .el-menu-item:hover {
    @include halfBlack;
  }
  .el-submenu .el-menu {
    background-color: rgba(0,0,0,0.1)!important;
  }
  
  .el-submenu__title i {
    color: #ffffff
  }
  .el-menu-item i {
    color: #ffffff
  }
}
.el-tabs--card>.el-tabs__header .el-tabs__item { @include halfWhite; }
.el-tabs--card>.el-tabs__header .el-tabs__item.is-active { background: #ffffff!important; }
.el-table td, .el-table th.is-leaf { border-color: #e4e4e4!important; }
/*end 菜单样式*/
.draw-select { display: block!important; }
.draw-date {
  display: block!important;
  width: auto!important;
}
.demo-drawer__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.demo-drawer__content form { flex: 1 }
.demo-drawer__footer { display: flex; }
.demo-drawer__footer button { flex: 1 }
.el-drawer__header span { outline: none; }
.el-drawer__body {padding: 20px;}
.search-form .el-form-item__content, 
.search-form .el-date-editor.el-input, 
.search-form .el-date-editor.el-input__inner { max-width: 200px; }
.tag .el-form-item__content, 
.tag .el-input, 
.tag .el-input__inner { max-width: none; }
.el-loading-mask{background: transparent!important}
.el-loading-spinner{
  width: 150px!important;
  padding: 20px 0;
  left: 0;
  right: 0;
  margin: auto;
  background:#fff;
  border-radius: 10px;
  border: 1px solid #eee;
  box-shadow: 0 0 30px #ccc;
  i{
    font-size: 30px;
    margin-bottom: 5px;
  }
}
a {
  color: inherit;
  text-decoration: none;
}
.el-input__inner,.el-textarea__inner{
  @include halfWhite;
  max-width: 500px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
